/* start topic section styles */
.topic-section-wrapper{
    background-image: url(../img/bgb2.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.topic-section-wrapper .card:hover{
    box-shadow: 0px 0px 20px 13px #00000021;
}
.topic-section-wrapper .card-header{
    overflow: hidden;
}
.imagg{
    transition: all .5s ease;
}
.imagg:hover{
    transform: rotate(10deg) scale(1.5);
    filter: contrast(1.3);
}
.topic-section-wrapper .card-body a{
    font-size: 11px;
    color: rgba(0, 0, 0, 0.768);
    padding: 5px;
}
.topic-section-wrapper .card-body p{
    margin: 0 5px;
}
.topic-section-wrapper .card-footer ul li{
    font-size: 12px;
    color: darkgrey;
    display: inline-block;
    padding: 5px;
}
.topic-section-wrapper .card{
    border-radius: 0;
}